.github-item__preview {
  width: 100%;
  height: 600px; }

.github-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24292e;
  padding: 10px; }

.github-item__name {
  color: #FFFFFF; }

.github-item__repo {
  position: relative; }

.github-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #24292e;
  padding-bottom: 10px;
  padding-left: 10px;
  background: #FFF; }
  .github-item__description:hover + .github-item__commits {
    height: 400px; }

.github-item__commits {
  transition: 0.8s;
  overflow: auto;
  height: 0;
  background: #FFF;
  position: absolute;
  z-index: 1;
  width: 100%; }
  .github-item__commits:hover {
    height: 400px; }

.github-item__message {
  text-align: right; }

.github-item__commit {
  display: flex;
  justify-content: space-between;
  padding: 15px; }
