.navigation {
  display: flex;
  flex-flow: column;
  width: 100%; }
  .navigation__link {
    text-align: center;
    padding: 15px;
    font-size: 1.4rem;
    transition: 0.3s; }
    .navigation__link--active {
      color: goldenrod;
      background: #5d5d5d; }
    .navigation__link:hover {
      background: palegoldenrod; }

.alt {
  display: none;
  opacity: 0; }
