@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.home {
  grid-area: content;
  display: flex; }
  .home__hero {
    margin: auto 0;
    width: 50%;
    font-family: 'Press Start 2P', cursive; }
  .home__header {
    font-size: 4em; }
  .home__text {
    font-size: 2.6em; }
  .home__img {
    width: 50%; }

.home-background {
  background-image: url("./main-elo.png");
  background-size: 62%;
  background-repeat: no-repeat;
  background-position: 100% 2%; }
