.sidebar {
  position: fixed;
  top: 0;
  width: 60px;
  height: 100vh;
  grid-area: sidebar;
  background: grey;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }
