:root {
  --anim-width: 10px; }

.about {
  grid-area: content;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  overflow: hidden; }

.experience {
  margin: auto;
  display: flex;
  flex-flow: column;
  position: relative;
  transition: 5s; }
  .experience__step {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s;
    position: relative; }
    .experience__step:hover .experience__text {
      opacity: 1; }
  .experience__icon {
    font-size: 2rem; }
  .experience__text {
    transition: 0.5s;
    opacity: 0;
    border: 1px solid black;
    border-left-style: solid;
    border-left-color: goldenrod;
    border-left-width: 10px;
    width: 100px;
    height: 6px; }

.animate {
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.experience__step--1 {
  grid-column: 10;
  left: -150px;
  animation-direction: reverse; }

.experience__step--2 {
  grid-column: 9;
  left: 143px;
  animation-direction: reverse; }

.experience__step--3 {
  grid-column: 8;
  left: 141px;
  animation-direction: reverse; }

.experience__step--4 {
  grid-column: 7;
  left: 34px;
  animation-direction: normal; }

.experience__step--5 {
  grid-column: 6;
  left: 144px;
  animation-direction: reverse; }

.experience__step--6 {
  grid-column: 5;
  left: -132px;
  animation-direction: reverse; }

.experience__step--7 {
  grid-column: 4;
  left: 148px;
  animation-direction: reverse; }

.experience__step--8 {
  grid-column: 3;
  left: -113px;
  animation-direction: normal; }

.experience__step--9 {
  grid-column: 2;
  left: -108px;
  animation-direction: normal; }

.experience__step--10 {
  grid-column: 1;
  left: 143px;
  animation-direction: normal; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
