:root {
  --anim-width: 10px; }

.skills {
  display: flex;
  flex-flow: column;
  grid-area: content; }
  .skills__projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch; }
    .skills__projects .github-item {
      min-width: 300px;
      width: calc(100% / 3); }

.experience__step {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 3s;
  position: relative; }
  .experience__step:hover .experience__text {
    opacity: 1;
    width: 100px; }

.experience__icon {
  font-size: 3rem; }

.experience__text {
  transition: 0.5s;
  width: 0;
  opacity: 0;
  border: 1px solid black;
  border-left-style: solid;
  border-left-color: goldenrod;
  border-left-width: 10px;
  height: 6px; }

.animate {
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.experience__step--1 {
  grid-column: 10;
  left: -15px;
  animation-direction: reverse; }

.experience__step--2 {
  grid-column: 9;
  left: -14px;
  animation-direction: reverse; }

.experience__step--3 {
  grid-column: 8;
  left: 136px;
  animation-direction: reverse; }

.experience__step--4 {
  grid-column: 7;
  left: 108px;
  animation-direction: normal; }

.experience__step--5 {
  grid-column: 6;
  left: -101px;
  animation-direction: reverse; }

.experience__step--6 {
  grid-column: 5;
  left: 145px;
  animation-direction: normal; }

.experience__step--7 {
  grid-column: 4;
  left: -53px;
  animation-direction: reverse; }

.experience__step--8 {
  grid-column: 3;
  left: 95px;
  animation-direction: reverse; }

.experience__step--9 {
  grid-column: 2;
  left: -49px;
  animation-direction: normal; }

.experience__step--10 {
  grid-column: 1;
  left: -77px;
  animation-direction: normal; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media (max-width: 768px) {
  .skills__projects .github-item {
    width: 50%; } }

@media (max-width: 660px) {
  .skills__projects .github-item {
    width: 100%; } }
